@charset "UTF-8";
@media (max-width: 370px) {
    .menu-toggler {
        display: none;
    }

    .navbar {
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .container {
        --conatainer-p: 24px;
        padding-left: var(--conatainer-p);
        padding-top: var(--conatainer-p);
        padding-bottom: var(--conatainer-p);
        padding-right: var(--conatainer-p);
    }
}

h4, h5 {
    font-weight: bold;
}

a.link-plain {
color: inherit;
text-decoration: none;
}

a.link-plain:hover {
text-decoration: underline;
}

body {
background-color: #121212;
color: #f0f0f0;
}

section, footer {
background-color: #1e1e1e;
}

.navbar,
.footer,
.btn-success,
.bg-success {
    background-color: #198754 !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.btn-success {
    border: none;
}

.btn-success:hover {
    background-color: #157347 !important;
}

.text-success-custom {
    color: #198754;
}

h1, h2, h4, h5 {
    color: #ffffff;
}

.lead {
    color: #cfcfcf;
}

.service-text {
    max-width: 570px;
    margin: auto;
}

.valores-text {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
}
